
<div class="col-xs-12 col-sm-3 col-sm-offset-1 chat-area">
  <div class="main-chat" ng-show="showChat">

    <div class="chat-box row">
      <div class="col-xs-12 single-message" ng-repeat="chat in chats"><span>{{chat.user.name}}&nbsp;:&nbsp;</span> <span>&nbsp;{{chat.message}}</span></div>
    </div>

    <div class="input-message row">
  <!--     <input type="text" placeholder="Type message" ng-model="newMessage.message"> -->
      <textarea class="form-control message-box" name="message" placeholder="Type message" rows="2" ng-model="newMessage.message"></textarea>
      <button class="btn btn-default enter-btn" ng-click="addChat()">Enter</button>
    </div>
  </div>

  <button class="btn btn-defaul chat-open" ng-click="trueChat()" ng-hide="showChat">Open chat</button>
  <button class="btn btn-default chat-open" ng-click="falseChat()" ng-show="showChat">Close chat</button>
</div>