<div class="navbar navbar-inverse navbar-fixed-left navbar-fixed-top">
  <a class="navbar-brand">Planit</a>
      <ul class="nav navbar-nav">
         <li class="navbar-icon2"><a href="/#/trips" class="tooltips"><img src="http://i63.tinypic.com/2j67jhc.jpg"><span>My Trips</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/{{trip_id}}/flights" class="tooltips"><img src="http://i65.tinypic.com/28qufly.png" alt=""><span>Flights</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/{{trip_id}}/accommodations" class="tooltips"><img src="http://i63.tinypic.com/2i8ktbo.png"><span>Hotels</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/{{trip_id}}/activities" class="tooltips"><img src="http://i63.tinypic.com/33c13k4.png"><span>Activities</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/{{trip_id}}/expenses" class="tooltips"><img src="http://i67.tinypic.com/2642tzo.png"><span>Expenses</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/{{trip_id}}/packings" class="tooltips"><img src="http://i68.tinypic.com/jq1f1u.png"><span>Packing list</span></a></li>
         <li class="navbar-icon2"><a href="/#/trips/{{trip_id}}/members" class="tooltips"><img src="http://i63.tinypic.com/ei58cp.png"><span>Members</span></a></li>
      </ul>
</div>

<div class="header-image-row">
   <div class="tripHeaderDiv">
      <li class="tripInfoHeader1">{{ trips.title }}</li>
      <li class="tripInfoHeader">{{ trips.location }}</li>
      <li class="tripInfoHeader tripInfoStart">{{ trips.start_date }} ~ </li>
      <li class="tripInfoHeader4">{{ trips.end_date }}</li>
      <button id="logoutHeaderButton" ng-click="logout()">Logout</button>
   </div>

</div>