<div class="navbar navbar-inverse navbar-fixed-left navbar-fixed-top">
  <a class="navbar-brand" href="#">Planit</a>
      <ul class="nav navbar-nav">
         <li class="navbar-icon2"><a href="#" class="tooltips"><img src="http://i63.tinypic.com/2j67jhc.jpg"><span>My Trips</span></a></li>
         <li class="navbar-icon"><a href="/#/trips/1/flights" class="tooltips"><img src="http://i65.tinypic.com/28qufly.png" alt=""><span>Flights</span></a></li>
         <li class="navbar-icon"><a href="/trips/1/accommodations" class="tooltips"><img src="http://i63.tinypic.com/2i8ktbo.png"><span>Hotels</span></a></li>
         <li class="navbar-icon"><a href="#" class="tooltips"><img src="http://i63.tinypic.com/33c13k4.png"><span>Activities</span></a></li>
         <li class="navbar-icon"><a href="#" class="tooltips"><img src="http://i67.tinypic.com/2642tzo.png"><span>Expenses</span></a></li>
         <li class="navbar-icon"><a href="#" class="tooltips"><img src="http://i68.tinypic.com/jq1f1u.png"><span>Packing list</span></a></li>
         <li class="navbar-icon2"><a href="#" class="tooltips"><img src="http://i63.tinypic.com/ei58cp.png"><span>Friends</span></a></li>
      </ul>
</div>

<div class="header-image-row"></div>