<div class="container">
  <div class="row">
    <h1> {{ message }} </h1>
  </div>

  <div class="row">
    <a href="/#/signup"><button class="btn btn-primary">Signup</button></a>
    <a href="/#/login"><button class="btn btn-primary">Login</button></a>
    <button class="btn btn-danger" ng-click="logout()">Logout</button>
  </div>
</div>

<!-- VIDEO COMPONENT -->
<div class="homepage-hero-module">
    <div class="video-container">
        <div class="filter"></div>
        <video autoplay loop class="fillWidth">
            <source src="PATH_TO_MP4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="PATH_TO_WEBM" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <img src="PATH_TO_JPEG" alt="">
        </div>
    </div>
</div>