/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.

 *= require bootstrap/dist/css/bootstrap
 *= require font-awesome
 *= require angularjs-datepicker/src/css/angular-datepicker
 *= require bootstrap-datetimepicker
 *= require angular-ui-bootstrap-datetimepicker/datetimepicker.css
 *= require_tree .
 *= require_self
 */

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
       font-url('glyphicons-halflings-regular.woff2') format('woff2'),
       font-url('glyphicons-halflings-regular.woff') format('woff'),
       font-url('glyphicons-halflings-regular.ttf') format('truetype'),
       font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.main-content {
  margin-top: 80px;
  margin-left: 75px;
  height: calc(100vh - 80px);

  > div {
    height: 100%;
    overflow: auto;
  }
}

.main-chat {
  height:calc(100vh - 80px);
  overflow: auto;
  background-color:white;
  opacity:0.90;
}

.input-message {
  margin-left: 2px;
  margin-right: 2px;
  margin-top: 5px;
  position: fixed;
  bottom: 8%;
}

.message-box {
  width: 305px;
  display: inline-block;
}
.enter-btn {
  width: 305px;
  display: inline-block;
  margin-bottom: 5px;
}

.single-message {
  width: 305px;
  padding:10px;
  margin: 20px;
  margin-bottom: 2px;
  margin-top:10px;
  // margin-right:20px;
  border: solid 2.1px navy;
  border-radius: 10px;
  font-size:16px;
}
.chat-area {
  background-color:white;
  padding: 4px;
}
.chat-open {
  position: fixed;
  bottom: 0;
  width: 305px;
  background: darkturquoise;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  width: 313px;
}

.chat-open:hover{
  position: fixed;
  bottom: 0;
  width: 305px;
  background: darkturquoise;
  color: white;
  font-weight: bold;
  font-size: 18px;
  height: 50px;
  width:313px;
}

.chatUserName {
  font-weight: bold;
}