.each-trip {
  background-color: white;
  margin-top:20px;
}

.create-logout {
  margin: 30px;
  float: right;
}

#alltrips {
  margin-top: 30px;
}

.col-xs-12.each-trip > div.row {
  background:white;
  margin-left:0px;
  margin-right:0px;
}


div.trip-title, div.trip-location, div.trip-date {
  display:inline-block;
  padding:10px;
}

div.delete.trip-btn {
  float:right;
  font-size:12px;
}

div.edit.trip-btn {
  float:right;
  font-size:12px;
}

