/*NAVBAR CSS*/

.navbar-fixed-left {
  width: 75px;
  position: fixed;
  left: 0;
  border-radius: 0;
  height: 100%;
  background-color:#45bbff;
  color:white;
  border-color:#45bbff;
}

.navbar-fixed-left .navbar-nav > li {
  float: none;  /* Cancel default li float: left */
  width: 139px;
}

.navbar-inverse .navbar-brand {
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar-inverse .navbar-nav > li > a {
  color:white;
}

.header-image-row {
  height:40px;
}

.header-image-row {
  position: fixed;
  left: 75px;
  height: 120px;
  width: 100%;
  top: 0;
  overflow: hidden;
  background-image:url("http://cdn1.buuteeq.com/upload/18138/island-luxury-tours-maldives-travel-experts.jpg.1920x506_default.jpg");
  background-size: cover;
  background-position:center;
}

.main {
  padding: 50px;
  padding-top: 20px;
}

.trip-information-section {
  margin-top:135px;
  margin-left:50px;
}

li.navbar-icon a img {
  width:45px;
  height:45px;
}

li.navbar-icon2 a img {
  width:48px;
  height:48px;

}


/*TOOLTIP CSS for navbar*/

a.tooltips {
  position: relative;
  display: inline;
  width:80px;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #45BBFF;
  height: 37px;
  line-height: 37px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
  box-shadow: 1px 1px 4px #1057C2;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -8px;
  width: 0; height: 0;
  border-right: 8px solid #45BBFF;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  z-index: 998;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 1;
  left: 100%;
  top: 50%;
  margin-top: -18.5px;
  margin-left: 15px;
  z-index: 999;
>>>>>>> added tooltips to nav bar
}