<script src="src/js/angular-datepicker.js"></script>
<side-bar></side-bar>

<div class="main-content">
  <!-- NEW EXPENSES SECTION-->
  <div id="addnewHotel" class="col-xs-12 col-xs-8">
      <form autocomplete="off">
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Accommodation</h4>
          </div>
          <div class="add-accommodation-row-content">
            <input g-places-autocomplete class="form-control" placeholder="e.g., JW Marriott Hotel Hong Kong, Waikiki Beach Walk Hotel, etc." type="text" ng-model="newAccommodation.name">
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Price ($HKD)</h4>
          </div>
          <div class="add-accommodation-row-content input-group">
            <div class="input-group-addon">$</div>
            <input type="text" class="form-control" placeholder="Price per night" ng-model="newAccommodation.price">
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Description</h4>
          </div>
          <div class="add-accommodation-row-content">
            <input class="form-control" placeholder="e.g., also booked shuttle for this hotel!" type="text" ng-model="newAccommodation.description">
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Confirmation #</h4>
          </div>
          <div class="add-accommodation-row-content">
            <input type="text" class="form-control" placeholder="Accommodation confirmation number" ng-model="newAccommodation.confirmation_number">
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Link</h4>
          </div>
          <div class="add-accommodation-row-content">
            <input type="url" class="form-control" placeholder="Insert website link to your hotel here" ng-model="newAccommodation.link">
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label">
            <h4>Members staying in this accommodation</h4>
          </div>
          <div class="add-accommodation-row-content">
            <label class="checkbox-inline" ng-repeat="user in users">
              <input type="checkbox" ng-click="toggleName(user.id)" ng-checked="isChecked(user.id)">{{ user.name }} | {{ user.email }}
            </label>
          </div>
        </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label row">
            <h4>Check In</h4>
          </div>
          <div class="add-accommodation-row-content row">
            <div class='col-sm-6'>
              <div class="form-group">
                <div class='input-group' id='datetimepicker1'>
                  <input type='text' class="form-control" id="check-in-date"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
        <div class="add-accommodation-row form-group">
          <div class="add-accommodation-row-label row">
            <h4>Check Out</h4>
          </div>
          <div class="add-accommodation-row-content row">
            <div class='col-sm-6'>
              <div class="form-group">
                <div class='input-group' id='datetimepicker2'>
                  <input type='text' class="form-control" id="check-out-date"/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <button class="addNewObjectButton" ng-hide="editing" type="submit" ng-click="addAccommodation()">Add accommodation</button>
          <button ng-show="editing" type="submit" ng-click="editAccommodation()">Edit accommodation</button>
        </div>
      </form>
  </div>

  <chat-box></chat-box>
</div>