<side-bar></side-bar>

<div class="main-content">
  <!-- EXPENSES SECTION-->
  <div class="col-xs-12 col-sm-8">
    <div class="row">
      <h1> {{ message }} </h1>
    </div>

    <a href="/#/trips/{{tripId}}/accommodations/new" class="btn btn-default">Add Accommodation</a>

    <div ng-repeat="accommodation in accommodations">
      <div>{{accommodation.name}}</div>
      <div>{{accommodation.price | currency}}/night</div>
      <div>{{accommodation.description}}</div>
      <div>{{accommodation.check_in}}</div>
      <div>{{accommodation.check_out}}</div>
      <div>{{accommodation.confirmation_number}}</div>
      <div><span ng-repeat="accommodation_splits in accommodation.accommodation_splits">{{accommodation_splits.user.name}}<br></span></div>
      <a href="/#/trips/{{tripId}}/accommodations/new"><i class="fa fa-pencil-square-o fa-2x"></i></a>
      <i class="fa fa-trash-o fa-2x" ng-click="deleteAccommodation(accommodation.id, $index)"></i>
    </div>

  </div>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>