<side-bar></side-bar>

<div class="main-content">
  <!-- ACTIVITIES SECTION-->
  <div class="col-xs-12 col-xs-8">
    <section id="addActivitiesSection" class="col-xs-9">
      <div class="row">
        <h1 class="tripPageHeader"> {{ message }} </h1>
      </div>

      <a href="/#/trips/{{tripId}}/activities/new" id="newActivitiesButton" class="btn btn-default">Add Activity</a>
    </section>

  <!-- Nav tabs -->
  <section id="currentActivitiesSection" class="col-xs-12">
    <uib-tabset active="active" id="activeTab">
      <uib-tab id="otherActivityTabs" ng-repeat="date in datesArr" heading="{{date[0] | date:'MMM dd, EEE' }}">
        <div ng-repeat="activity in date[1]" class="well">
          <div class="well">
            <div><span class="activityTitle">{{activity.title}}<span></div>
            <div><span class="activityLabel">Description:</span>{{activity.description}}</div>
            <div><span class="activityLabel">Time:</span>{{activity.time}}</div>
            <div><span class="activityLabel">Location:</span>{{activity.location}}</div>
            <div><span class="activityLabel">Price:</span>{{activity.price | currency}}</div>
            <div><span class="activityLabel">Link:</span><a href="http://{{activity.link}}">{{activity.link}}</a></div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </section>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>
        <!-- <div ng-repeat="activity in activities" class="well"> -->

        <!-- </div> -->
