<side-bar></side-bar>

<div class="main-content">
  <!-- ACTIVITIES SECTION-->
  <div class="col-xs-12 col-xs-8">
    <section id="addActivitiesSection" class="col-xs-9">
      <div class="row">
        <h1 class="tripPageHeader"> {{ message }} </h1>
      </div>

      <a href="/#/trips/{{tripId}}/activities/new" class="btn btn-default">Add Activity</a>
    </section>

  <!-- Nav tabs -->

  <uib-tabset active="active">
    <uib-tab ng-repeat="date in datesArr" heading="{{date[0] | date:'MMM dd, EEE' }}">
      <div ng-repeat="activity in date[1]" class="well">
        <div class="well">
          <div>{{activity.title}}</div>
          <div>{{activity.description}}</div>
          <div>{{activity.date}}</div>
          <div>{{activity.time}}</div>
          <div>{{activity.location}}</div>
          <div>{{activity.price | currency}}</div>
          <div>{{activity.link}}</div>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>
        <!-- <div ng-repeat="activity in activities" class="well"> -->

        <!-- </div> -->
