<side-bar></side-bar>

<div class="main-content">
  <!-- ACTIVITIES SECTION-->
  <div class="col-xs-12 col-xs-8">
  {{message}}
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" ng-repeat="date in dates"><a href="#{{date}}" aria-controls="{{date}}" role="tab" data-toggle="tab">{{date}}</a></li>
    </ul>
      <!--Tab panes-->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane" id="{{date}}" ng-repeat="date in dates">
        <div>hi</div>
      </div>
    </div>

  </div>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>
