<side-bar></side-bar>

<div class="main-content">
  <!-- FLIGHTS SECTION-->
  <div class="col-xs-12 col-xs-8" "testingClass">
    <section id="flightsSection" class="col-xs-9">
      <div class="row">
        <h1 class="tripPageHeader"> {{ message }} </h1>
      </div>

      <a href="/#/trips/{{tripId}}/flights/new" id="newFlightButton" class="btn btn-default">Add Flight</a>
    </section>

      <div ng-repeat="flight in flights">
        <div>{{flight.departure_date}}</div>
        <div>{{flight.arrival_date}}</div>
        <div>{{flight.departure_airport}}</div>
        <div>{{flight.arrival_airport}}</div>
        <div>{{flight.airline}}</div>
        <div>{{flight.flight_number}}</div>
        <div>{{flight.terminal}}</div>
        <div><span ng-repeat="flight_splits in flight.flight_splits">{{flight_splits.user.name}}<br></span></div>
        <a href="/#/trips/{{tripId}}/flights/{{flightId}}/edit" ng-click="editPage(flight.id)"><i class="fa fa-pencil-square-o fa-2x"></i></a>
        <i class="fa fa-trash-o fa-2x" ng-click="deleteFlight(flight.id, $index)"></i>
      </div>
  </div>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>