<script src="src/js/angular-datepicker.js"></script>

<div id="tripPage">
  <h1>Trips</h1>
  <section class="col-xs-6 col-xs-offset-3" id="alltrips">

    <div class="row">
      <h1 ng-hide="editing">Create trip</h1>
      <h1 ng-show="editing">Edit trip</h1>

<form id="newTrip" ng-submit="addOrEditTrip()">
  <input class="form-control" type="text" placeholder="Title" ng-model="newOrEditTrip.title"></input>
  <div class="form-inline">
    <input g-places-autocomplete type="text" class="form-control" placeholder="Where are you going?" ng-model="newOrEditTrip.location" id="autocomplete"></input>
    <datepicker>
      <input class="form-control" ng-model="newOrEditTrip.start_date" placeholder="Start date" type="text"/>
    </datepicker>
    <datepicker>
      <input class="form-control" ng-model="newOrEditTrip.end_date" placeholder="End date" type="text"/>
    </datepicker>
  </div>
  <div>
    <button ng-href="/#/trips/edit" type="submit" ng-hide="editing">Add Trip</button>
    <button type="submit" value="Edit Trip" ng-show="editing"></button>
    <button ng-show="editing">Cancel</button>
  </div>
</form>
=======
  <form id="newTrip" ng-submit="addOrEditTrip()">
    <input class="form-control" type="text" placeholder="Title" ng-model="newOrEditTrip.title"></input>
    <div class="form-inline">
      <input g-places-autocomplete type="text" class="form-control" placeholder="Where are you going?" ng-model="newOrEditTrip.location" id="autocomplete"></input>
      <datepicker>
        <input class="form-control" ng-model="newOrEditTrip.start_date" placeholder="Start date" type="text"/>
      </datepicker>
      <datepicker>
        <input class="form-control" ng-model="newOrEditTrip.end_date" placeholder="End date" type="text"/>
      </datepicker>
    </div>
    <div>
      <button ng-href="http://localhost:3000/#/trips/edit" type="submit" ng-hide="editing">Add Trip</button>
      <button type="submit" value="Edit Trip" ng-show="editing"></button>
      <button ng-show="editing">Cancel</button>
    </div>
  </form>

    <div class="row create-logout">
      <button ng-click="logout()">Logout</button>
    </div>
    <div class="row">
      <div ng-repeat="trip in trips" class="col-xs-12 each-trip">
        <div class="row">
          <div class="delete trip-btn" ng-click="deleteTrip(trip.id, $index)"><i class="fa fa-trash-o fa-3x"></i></div>
          <div class="edit trip-btn" ng-click="toggleEditMode(trip)"><i class="fa fa-pencil-square-o fa-3x"></i></div>
        </div>
        <div class="trip-title"><a href="/#/trips/{{trip.id}}/members"><strong>{{ trip.title }}</strong></a></div>
        <div class="trip-location">{{ trip.location }}</div>
        <div class="trip-date">{{ trip.start_date }} ~ {{ trip.end_date }}</div>
      </div>
    </div>
  </section>
</div>