<side-bar></side-bar>

<div class="main-content">
  <!-- ACTIVITIES SECTION-->
  <div class="col-xs-12 col-xs-8">
    <!-- ADDING TO PACKING LIST -->
    <form class="form-inline add-packing">
      <div class="form-group">
        <label>Items</label>
        <input type="text" class="form-control" placeholder="Things to pack!" ng-model="newPacking">
      </div>
      <button type="submit" class="btn btn-default" ng-click="addPacking">Add</button>
    </form>

  <div>
    <ul>
      <li ng-repeat="packing in packings">{{packing}}</li>
    </ul>
  </div>

  </div>

  <div class="col-xs-12 col-sm-4">Chat</div>
</div>
