<!DOCTYPE html>
<html ng-app="planit-app">
<head>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDsvcbGXkghbVpZ8A__PdtvxyCp4vJYOSo"></script>
 <!--  <script src='https://cdn.firebase.com/js/client/2.2.1/firebase.js'></script> -->


  <title>PlanitApp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-view>

  <%= yield %>

</body>
</html>
